<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Form </title>
    <link rel="stylesheet" href="/static/formstyle.css"/> 
</head>

<body>
    <h1 class="title">Sign Up</h1>
    <section class="section"> 
        <div class="signup">
            <form class="form" action="/signup" method="POST">

            <label for="email" class="form__label"> Email</label>
            <input type="email" placeholder="Enter email" name="email" id="email" required>

            <label for="username" class="form__label"> Username</label>
            <input type="text" placeholder="Enter username" name="username" id="username" required>

            <label for="Password" class="form__label"> Password</label>
            <input type="password" placeholder="Password" name="password" id="password" required>

            <label for="Password confirm" class="form__label"> Confirm password</label>
            <input type="password" placeholder="Password" name="confirmpassword" id="confirmpassword" required>
            

            <button type="submit" class="form__submit"> Sign Up</button>
            <a class="form__signup" href="{{ url_for('login') }}"> Have an account? Log in</a>
            </form>
        </div>
    </section>
</body>
  